.coa-carousel {
    @apply
    relative
    w-screen
    mx-auto
}

.coa-carousel-content {
    @apply
    relative
    w-full
    flex
    flex-initial
    z-10
    gap-5
    sm:gap-10
    p-5
    sm:p-10
    overflow-hidden;
}

.coa-carousel-item-wrapper {
    @apply transition
}

.coa-carousel-item {
    min-width: 430px;
    max-width: 100vw;
    min-height: calc(100vh - 10vh);
    max-height: 100vh;
    @apply p-6 rounded-3xl flex flex-col justify-center content-center self-center text-center;
}

.coa-carousel-item img {
    width: 100%;
    height: auto
}

.coa-carousel-control {
    @apply absolute w-16 sm:w-24 h-full flex flex-col content-center justify-center z-20 transition-transform
}

.coa-carousel-control.previous {
    @apply left-0 top-0
}

.coa-carousel-control.next {
    @apply right-0 top-0
}

.coa-carousel-control svg {
    @apply transition-all opacity-10
}

.coa-carousel-control:hover svg{
    @apply opacity-100
}

.coa-carousel-control:active svg {
    @apply transform scale-50
}
