.coa-btn {
    @apply uppercase rounded-md;
    font-size: theme('fontSize.base');
    transition: 0.2s;
    display: flex;
    align-content: center;
    justify-content: left;
    flex-basis: auto;
    gap: 6px;
}

.coa-btn.fullWidth {
    width: 100%;
    justify-content: center;
}

.coa-btn-base {
    @apply py-3 px-3;
    font-size: theme('fontSize.base');
}

.coa-btn-xs {
    @apply py-2 px-2;
    font-size: theme('fontSize.xs');
}

.coa-btn-sm {
    @apply py-2 px-2;
    font-size: theme('fontSize.sm');
}

.coa-btn-lg {
    @apply py-3 px-3;
    font-size: theme('fontSize.lg');
}

.coa-btn-base svg {
    width: 25px;
}

.coa-btn-xs svg {
    width: 17px;
}

.coa-btn-sm svg {
    width: 20px;
}

.coa-btn-lg svg {
    width: 26px;
}

.coa-btn-normal,
.coa-btn-blue {
    background-color: theme('colors.blue.500');
    color: theme('colors.white');
}

.coa-btn-delete,
.coa-btn-red {
    @apply bg-red-500 text-white;
}

.coa-btn-success,
.coa-btn-green {
    @apply bg-green-500 text-white;
}

.coa-btn-normal:hover,
.coa-btn-blue:hover {
    @apply bg-blue-700;
}

.coa-btn-delete:hover,
.coa-btn-red:hover {
    @apply bg-red-700;
}

.coa-btn-success:hover,
.coa-btn-green:hover {
    @apply bg-green-700;
}

.coa-btn:active {
    transform: scale(0.95);
    opacity: 0.8;
}

.coa-btn-cancel {
    background-color: theme('colors.gray.600') !important;
}

.coa-btn.disabled {
    opacity: 0.4;
}

.coa-btn.rounded {
    @apply rounded-3xl;
}
